html {
  scroll-behavior: smooth;
}

body {
  --primary: #631d76;
  --secondary: #9e4770;
  --white: #fbfbfb;
  --dark: #2e2532;
  --black: #201a23;
}

.product-card figure {
  text-align: center;
  padding: 5px;
}

.navbar ul.social {
  display: flex;
}
.navbar ul.social li {
  margin-right: 20px;
  text-decoration: none;
}
.navbar ul.social li a {
  color: var(--white);
}

.banner {
  margin: 50px;
}

.columns.products {
  flex-wrap: wrap;
}

.card-footer-item i {
  margin-right: 10px;
}

.navbar-bottom.navbar {
  align-items: center;
}

.navbar-top.navbar {
  background-color: var(--primary);
}

.navbar-buttons {
  display: flex;
}

.navbar-top .container.navbar-container,
.navbar-bottom .container.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 5%;
  align-items: center;
}

#cart h3 {
  margin-top: 50px;
}

#cart .cart-item {
  padding: 10px;
}

.product-card .card-footer {
  justify-content: center;
}
.product-card .card-footer form {
  display: block;
  width: 100%;
}

.admin > div.container {
  margin: 40px 10%;
}

.admin .control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin table {
  width: 100%;
}

.admin table th:first-of-type {
  width: 50%;
}
.admin table td:first-of-type {
  width: 50%;
}

.admin table td {
  vertical-align: middle;
}

.product-card .card-footer button {
  border: none;
  width: 100%;
  height: 50px;
}

.product-card .card-footer button i {
  margin-right: 10px;
}

#cart .cart-item h3 {
  margin: 0;
  font-size: 18px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity {
  position: relative;
}

.quantity:before {
  content: '#';
  position: absolute;
  z-index: 10;
  top: 0;
  right: 5px;
  bottom: 0;
  display: flex;
  align-items: center;
  color: gray;
}

.cart-right .field {
  margin-bottom: 0 !important;
}

.price {
  margin: 0 20px;
}

.cart-right {
  display: flex;
  align-items: center;
}

.total {
  margin-top: 20px;
}

.jumbotron {
  background-image: url('/images/clothes.jpg'); 
  background-size: cover;
  height: 600px;
  margin-bottom: 0px;
}


.signupBtn {
  color: #a13830 !important ;
  border-color: #a13830 !important;
  margin-top: 20px !important;
}

.signupBtn:hover, .deleteBtn:hover {
  background-color: #a13830 !important;
  color: white !important;
}

#subscribe:hover, .checkoutBtn:hover {
  color: #a13830 !important;
  border-color: #a13830 !important;
  background-color: white !important;
}

.deleteBtn{
  color: #a13830 !important;
  border-color: #a13830 !important;
}

#subscribe {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: #a13830 !important;
  color: white !important;
  font-size: 12px !important;
}

.checkoutBtn {
  background-color: #a13830 !important;
  color: white !important;
  padding: 10px !important;
}

.shoppingCart {
  background: #f7eeee !important;
  border-color: #a13830 !important;
  padding: 0 !important;
}

.input-group .form-control {
  font-size: 12px;
}

.fab {
  padding: 10px;
}

@media(max-width: 768px) {
  .signupBtn {
    font-size: 12px !important;
    padding: 10px !important;
  }
  .subtitle {
    font-size: 18px;
  }
  .nav-item.pl-2 {
    padding-left: 0px !important;
  }

}



@media(max-width: 425px) {
  .cart-item {
    font-size: 12px;
  }
  #cart .cart-item h3 {
    font-size: 12px;
  }

}


